body{font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;background:#fafafa;box-sizing:border-box}
a{text-decoration:none}
.container{max-width:1000px;margin:10px auto;display:flex;flex-direction:column;align-items:center;font-size:14px}
.box{max-width:350px;width:100%;display:flex;flex-direction:column;align-items:center;background:#fff;border:1px solid #e6e6e6;margin:0 0 10px;padding:10px 0}
.heading{margin:35px auto 30px;background-image:url("https://www.instagram.com/static/bundles/es6/sprite_core_b20f2a3cd7e4.png/b20f2a3cd7e4.png");background-position:-98px 0;height:51px;width:177px}
.field{margin:10px 0;position:relative;width:100%}
input{padding:9px 0 7px 9px;font-size:12px;width:16rem;background:#fafafa;border-radius:3px;border:1px solid #efefef}
label{position:absolute;left:10px;transform:translateY(10px);transition:.1s;font-size:12px;color:#585757}
input::placeholder{visibility:hidden}
input:not(:placeholder-shown)+label{transform:translateY(0);font-size:11px}
input:not(:placeholder-shown){padding-top:14px;padding-bottom:2px}
.login-button{width:100%;padding:.5rem;background:#5bb0f0;color:#fff;font-weight:600;border:0;border-radius:10px;cursor:pointer}
.login-button:hover{background:#097ce8}
.separator{display:flex;align-items:center;color:#504f4f;margin-top:6px}
.separator .line{height:1px;width:40%;background:#dbdbdb}
.other{display:flex;flex-direction:column;align-items:center}
.fb-login-btn{margin:1rem;border:0;background:transparent;font-size:14px;font-weight:600}
.forgot-password{font-size:11px;color:#003569;margin-bottom:10px}
.signup{color:#0694f1;font-weight:600}
.apps{display:flex;gap:16px;margin-bottom:50px}
.footer,.copyright{text-align:center;font-size:13px;color:#585757}